<div class="Container">
	<h2>Top {{ strongmanArray.length }} Most Impressive World's Strongest Men</h2>
	<button routerLink="/strongmanAdd" type="button" class="btn btn-warning">ADD</button>
	<ul *ngFor="let strongman of strongmanArray">
    	<li> <b>{{strongman.fName}} {{strongman.lName}}</b> highest score: {{strongman.liftRecord}} kg </li>
    	<div *ngIf="strongman.liftRecord == bestStrongmanVal">HIGHEST SCORE</div>
<div class="btn-group" role="group" aria-label="Basic example">
	<button routerLink="/strongman/{{strongman.id}}" type="button" class="btn btn-primary">Edit</button>
	<button (click)="remove(strongman)" type="button" class="btn btn-danger">Remove</button>
	<button type="button" class="btn btn-info" (click)="strongman.open = !strongman.open">Competitions</button>
</div>
	<div *ngIf="strongman.open">
		<br>
		<ul *ngFor="let competition of strongman.competitions">
			<li>Name: <b>{{competition.name}}</b> Score: {{competition.best_score}} year: {{competition.year}}</li>
		</ul>
	</div>
</ul>

