<table class="table table-striped">
	
	<tr><th class="col-3">Punkty do oceny</th><th>Zadanie</th></tr>
	<tr>
		<td>0.4</td>
		<td>
			<b>1. Spersonalizowane „Hello World” Jeden moduł zawierający jeden komp</b>
			<p>Jeden moduł zawierający jeden komponent z wyświetlaniem zmienionej treści niż domyślne „Hello World” czyli jakiś swój obrazek, nagłówek, kilka zdań treści, jakieś niby menu...</p>
		</td>
	</tr>
	<tr>
			<td>0.6</td>
		<td>
			<b>2. Jeden komponent z danymi i ich edycją</b> 
			<p>Utworzenie w pliku tablicy z obiektami (przynajmniej 5 elementów), które będziemy prezentować w komponencie, np. książki, samochody, kraje, zwierzęta w zoo, rzeki w Polsce, mikroprocesory... <br>Prezentacja w głównym komponencie tej listy z możliwością klikania i edycji danych wybranego obiektu.</p>
		</td>
	</tr>
	<tr>
		<td>0.4</td>
		<td>
			<b>3. Dwa komponenty zależne, nadrzędny i podrzędny</b> 
			<p>Drugi komponent podrzędny do tego głównego, który wyświetla szczegóły wybranego obiektu i pozwala na edycje danych wybranego obiektu.</p>
		</td>
	</tr>
	<tr>
		<td>0.7</td>
		<td>
			<b>4. Własna usługa, wykorzystana zamiast prostego wczytania danych z tablicy</b> 
			<p>Tworzymy własną usługę, którą wykorzystujemy w komponencie głównym zamiast danych obiektów umieszczonych w tablicy. Usługa powinna działać poprzez wstrzykiwanie zależności. Trzeba też użyć ngOnInit do wczytania danych z usługi.</p>
		</td>
	</tr>
	<tr>
		<td>0.4</td>
		<td>
			<b>5. Własne metody w komponentach</b> 
			<p>Trzeba stworzyć i użyć przynajmniej dwóch metod w którymś ze swoich komponentów, które będą miały więcej niż jedną linię kodu, np. średnia ocen :)</p>
		</td>
	</tr>
	<tr>
		<td>0.5</td>
		<td>
			<b>6. Więcej niż 2 komponenty</b> 
			<p>Dodatkowe 0,5 za utworzenie więcej niż 2 komponentów wzajemnie powiązanych i robiących coś sensownego, np. Prezentacja danych tablicowych umieszczonych wewnątrz każdego z naszych obiektów, np. ocen z różnych przedmiotów studentów.</p>
		</td>
	</tr>
	<tr>
		<td>2 x 0.3</td>
		<td>
			<b>7. Dodawanie i usuwanie elementów z listy</b> 
			<p>Dodać funkcjonalność, która pozwoli na dodawanie (0,3) i usuwanie (0,3) elementów naszych danych dostępnych w tablicy czy dzięki usłudze.</p>
		</td>
	</tr>
	<tr>
		<td>N x 0.5</td>
		<td>
			<b>8. Inne</b> <br>
			Dodatkowo 0,5 za każdą nadmiarową funkcjonalność: <br>
			<ul>
				<li>wykorzystanie filtrów (przynajmniej 3 razy)</li>
				<li>wykorzystanie usługi HTTP z jakimś działającym API</li>
				<li>własny filtr</li>
				<li>własna dyrektywa inna niż komponent</li>
				<li>wykorzystanie trasowania</li>
				<li>aplikacja podzielona na więcej niż jeden moduł</li>
				<li>...</li>
			</ul>
		</td>
	</tr>
</table>
